.links-cont {
  text-decoration: none;
  width: 100%;
}
.blog-cont {
  border: 1px solid #2f4f4f;
  padding: 13px;
  margin-top: 20px;
}
.blog-img {
  width: 100%;
}
.blog-para-1 {
  color: #8e8e8e;
  font-size: 16px;
}
.blog-para-2 {
  color: #000000;
  font-size: 23px;
}
.author-cont {
  display: flex;
  align-items: center;
}
.author-img {
  width: 23px;
  border-radius: 30px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .blog-cont {
    display: flex;
    align-items: center;
  }
  .blog-img {
    width: 200px;
    margin-right: 15px;
  }
}
