.blog-details-cont {
  width: 80%;
}
.b-title {
  color: #000000;
  font-size: 20px;
  text-align: center;
}
.a-cont {
  display: flex;
  align-items: center;
}
.a-img {
  width: 23px;
  margin-right: 5px;
  border-radius: 30px;
}
.a-para {
  color: #000000;
  font-size: 15px;
}
.b-img {
  width: 100%;
}
.b-para {
  color: #2f4f4f;
  font-size: 15px;
}

@media (min-width: 992px) {
  .blog-details-cont {
    width: 70%;
  }
}
